# ======================
# Go
# ======================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go build
/bin/
/build/
/dist/

# Go workspace
/go.work
/go.work.sum

# ======================
# Environment
# ======================
.env

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/
*.swp
*.swo

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log

# ======================
# Database
# ======================
*.sqlite
*.db
